// sidebar
$menuText:#edeefc;
$menuActiveText:#80abdc;
$subMenuActiveText:#eaeafd; //https://github.com/ElemeFE/element/issues/12951

$menuBg:#57588a;
$menuHover:#494c78;

$subMenuBg:#3c3e6c;
$subMenuHover:#242753;

$sideBarWidth: 200px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
